.main{
    margin:30px;
    background-color: white;
}
body{
    background-color: #efefef;
}
.submit{
    float: right;
    margin-bottom: 15px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.tag-table .label-info{
    white-space: normal;
    margin: 5px 5px;
    display:inline-block;
}