<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 th:text="${sectionName}"></h2>
            <hr>
            <div class="media" th:if="${section=='questions'}" th:each="question : ${pageDTO.rows}">
                <div class="media-left">
                    <a href="#">
                        <img class="img-circle" th:src="${question.tbUser.avatarUrl}"  style="width: 42px;height: 42px">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}"> <h4 class="media-heading" th:text="${question.title}"></h4></a>
                    <span th:text="${question.tag}"></span>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个评论 •
                        <span th:text="${question.viewCount}"></span>次浏览 •
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                     </span>
                </div>


            </div>

            <div class="media" th:if="${section=='repies'}" th:each="notify : ${pageDTO.rows}">

                <div class="media-body">
                   <span th:text="${notify.tbUser.uname}"></span>
                    <span th:text="${notify.typeName}"></span>
                    <a th:href="@{'/notify/'+${notify.notifyId}}"><span th:text="${notify.title}"></span></a>
                    <span th:class="${notify.status==0?'label label-danger':'label label-success'}" th:text="${notify.status==0 ?'未读':'已读'}"></span>
                </div>


            </div>



            <nav aria-label="Page navigation" th:if="${pageDTO.rows != null}">
                <ul class="pagination">
                    <li th:if="${pageDTO.firstPage}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:if="${pageDTO.lastPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDTO.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageDTO.pages}" th:class="${pageDTO.page == page ? 'active':''}">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pageDTO.nextPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDTO.page +1})}" aria-label="Next">
                            <span aria-hidden="true"> &gt;</span>
                        </a>
                    </li>


                    <li th:if="${pageDTO.endPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="color: red">
            <div class="list-group">
                <a th:href="@{'/profile/questions'}" th:class="${section == 'questions'?'list-group-item disabled':'list-group-item'}">
                    我的问题
                </a>
                <a th:href="@{'/profile/repies'}" th:class="${section == 'repies'?'list-group-item disabled':'list-group-item'}">
                    最新回复<span class="badge" th:text="${session.notifyCount}"></span>
                </a>


            </div>
        </div>
    </div>
</div>


</body>
</html>