<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布问题</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body bgcolor="red">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">笔记社区</span>
            </button>
            <a class="navbar-brand" href="#">笔记社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=fb0fba96031d94894be3&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                </li>
                <li th:if="${session.user != null}">
                    <a href="/publish"><span class="glyphicon glyphicon-plus" aria-hidden="true">发布</span></a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getUname()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 class="glyphicon glyphicon-plus" aria-hidden="true">发起</h2>
            <hr>
            <form th:action="@{/publish}" method="post">
                <div class="form-group">
                    <label for="title">问题标题 (简单扼要) ：</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"  placeholder="问题标题...">
                   <!-- <select class="form-control">
                        <option selected>选择分类</option>
                        <option>2</option>
                    </select>-->
                </div>
                <div class="form-group">
                    <label for="description">问题补充 (必填，请参照指南提示)：</label>
                    <textarea class="form-control" rows="25" id="description" name="description" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签(多个标签用,号隔开)：</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"  placeholder="输入标签">
                </div>
                <div class="form-group">
                    <div th:class="${error != null?'alert alert-danger':''}" role="alert" th:text="${error}"></div>
                    <button type="submit" class="btn btn-success submit">发布</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="color: red">
            <h2>问题发起指南</h2>
            .问题标题：请用精简的语言描述你发布的问题，不超过25个字<br>
            .问题补充: 详细补充你的问题类容，并确保问题描述清晰直观，并提供相关的资料<br>
            .选择标签:选择一个或多个标签并用逗号隔开，每个标签不超过10个字
        </div>
    </div>
</div>

</body>
</html>