<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.dengpeng.community.mapper.TbNotifyMapper">
  <resultMap id="BaseResultMap" type="life.dengpeng.community.model.TbNotify">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="notifier" jdbcType="BIGINT" property="notifier" />
    <result column="receiver" jdbcType="BIGINT" property="receiver" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="notify_name" jdbcType="VARCHAR" property="notifyName" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="questionId" jdbcType="BIGINT" property="questionid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, notifier, receiver, type, status, notify_name, gmt_create, questionId
  </sql>
  <select id="selectByExample" parameterType="life.dengpeng.community.model.TbNotifyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_notify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_notify
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_notify
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="life.dengpeng.community.model.TbNotifyExample">
    delete from tb_notify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="life.dengpeng.community.model.TbNotify">
    insert into tb_notify (id, notifier, receiver, 
      type, status, notify_name, 
      gmt_create, questionId)
    values (#{id,jdbcType=BIGINT}, #{notifier,jdbcType=BIGINT}, #{receiver,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{notifyName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=BIGINT}, #{questionid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="life.dengpeng.community.model.TbNotify">
    insert into tb_notify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="notifier != null">
        notifier,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="notifyName != null">
        notify_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="questionid != null">
        questionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="notifier != null">
        #{notifier,jdbcType=BIGINT},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyName != null">
        #{notifyName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="questionid != null">
        #{questionid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="life.dengpeng.community.model.TbNotifyExample" resultType="java.lang.Long">
    select count(*) from tb_notify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_notify
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.notifier != null">
        notifier = #{record.notifier,jdbcType=BIGINT},
      </if>
      <if test="record.receiver != null">
        receiver = #{record.receiver,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.notifyName != null">
        notify_name = #{record.notifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="record.questionid != null">
        questionId = #{record.questionid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_notify
    set id = #{record.id,jdbcType=BIGINT},
      notifier = #{record.notifier,jdbcType=BIGINT},
      receiver = #{record.receiver,jdbcType=BIGINT},
      type = #{record.type,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      notify_name = #{record.notifyName,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      questionId = #{record.questionid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="life.dengpeng.community.model.TbNotify">
    update tb_notify
    <set>
      <if test="notifier != null">
        notifier = #{notifier,jdbcType=BIGINT},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyName != null">
        notify_name = #{notifyName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="questionid != null">
        questionId = #{questionid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="life.dengpeng.community.model.TbNotify">
    update tb_notify
    set notifier = #{notifier,jdbcType=BIGINT},
      receiver = #{receiver,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      notify_name = #{notifyName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      questionId = #{questionid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="life.dengpeng.community.model.TbNotifyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_notify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>