<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.dengpeng.community.mapper.TbQuestionExtMapper">
  <resultMap id="BaseResultMap" type="life.dengpeng.community.model.TbQuestion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modifled" jdbcType="BIGINT" property="gmtModifled" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <update id="incView" parameterType="life.dengpeng.community.model.TbQuestion">
    update tb_question
    set
    view_count = view_count + #{viewCount,jdbcType=INTEGER}
    where id = #{id}
  </update>

  <update id="incComment" parameterType="life.dengpeng.community.model.TbQuestion">
    update tb_question
    set
    comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
    where id = #{id}
  </update>

  
  <select id="selectByTag" parameterType="life.dengpeng.community.model.TbQuestion" resultMap="BaseResultMap">

    select * FROM
        (select * from tb_question where tag regexp #{tag} and id != #{id} ORDER BY view_count DESC)
        as question limit 10

  </select>


</mapper>